.color-primary-0 { color: #EEEEEE }	/* Main Primary color */
.color-primary-1 { color: #333333; }
.color-primary-2 { color: #545858 }
.color-primary-3 { color: #14FFF6 }
.color-primary-4 { color: #00A09A }



html,body{
    background-color: #FFFFFF;
    color: #333333;
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}


.mainContainer {
    margin-top: 60px;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /*dont show content that exceeds the height */
}


/* Navbar */
/* navbar */
.navbar-default {
    background-color: #333333;
    border-style:none;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}
/* title */
.navbar-default .navbar-brand {
    color: #EEEEEE;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EEEEEE;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #EEEEEE;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EEEEEE;
}

.navbar-default .navbar-nav > li .active > a:hover,
.navbar-default .navbar-nav > li .active > a:focus {
    color: #333333;
}

.navbar-text {
    color: #EEEEEE;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333333;
    background-color: #EEEEEE;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    background-color: #EEEEEE;
    border-style: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #EEEEEE;
    background-color: #333333;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #EEEEEE;
    background-color: #333333;
}

.panel-default {
    background-color: transparent;
    color: #545858;
    border: none;
}


.main-scrollable-content {
    margin-top: 20px;
    padding: 20px;
    border-top: solid;
    max-height: 80%;
}

.load-more-button {
    border: solid 1px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.messagePanel .btn-group-justified>.btn-group .btn {
    width: 100%;
    border: 2px solid #333333;
    background: transparent;
    color: #333333;
}

.messagePanel .btn-group-justified>.btn-group .btn:hover, .messagePanel .btn-group-justified>.btn-group .btn:focus{
    background-color: #333333;
    color:#FFF;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.loginScreen{
    position: fixed;
    width:100%;
    height:100%;
    background-image: url('/assets/img/login_bg.png');
    background-repeat: repeat;
}
.loginPanel {
    width: 90%;
    max-width: 250px;
    margin:auto;
    background-color: #eeeeee;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.loginPanel .btn-default {
    color: #eeeeee;
    background-color: #333333;
    border-style: none
}

.loginPanel .btn-default:active, .loginPanel .btn-default:focus, .loginPanel .btn-default:hover {
    background-color: #505050;
}

.loginPanel h1 {
    text-align: center;
    margin-top:0;
}
#current-conversation-name {
    height: 36px;
    font-size: 14pt;

}

#scrollable-conversation-content {
    max-height: calc(100vh - 210px);
    border-bottom: solid;
    height: 80vh;
}

#scrollable-conversations-list {
    max-height: calc(100vh - 150px);
    height: 90vh;
    border-right: solid;
}

#scrollable-mycircle-list {
    max-height: calc(100vh - 260px);
    border-bottom: solid;
    height: 80vh;
}

#conversation-message-input-box {
    margin-top: 5px;
}

#mycircle-input-box {
    margin-top: 20px;
}

.conversation {
    border-radius: 0;
    margin-top: 5px;
    margin-bottom:5px;
    background-color: #EEEEEE;
}

.message {
    margin-bottom: 15px;
}

.message-panel {
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 0px;
    min-height: 52px;
}

.message-body {
    color: white;
    word-wrap: break-word;
    min-width: 400px;
    width: 40%;
    border-radius: 15px;
    color: white;
    margin-bottom: 0px;
}

.message-time {
    font-size: smaller;
    margin-left: 0px;
    margin-right: 0px;
}

#new-message-button {
    margin-bottom: 5px;
}

